asgiref==3.8.1
bleach==6.1.0
contourpy==1.2.1
cycler==0.12.1
Django==5.1.1
django-summernote==0.8.20.0
fonttools==4.53.1
imageio==2.34.2
imutils==0.5.4
kiwisolver==1.4.5
lazy_loader==0.4
matplotlib==3.9.1
networkx==3.3
numpy==2.0.0
opencv-python==4.10.0.84
packaging==24.1
pillow==10.4.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
scikit-image==0.24.0
scipy==1.14.0
six==1.16.0
sqlparse==0.5.1
tifffile==2024.7.2
tk==0.1.0
tzdata==2024.1
webencodings==0.5.1